{% extends 'base.html' %}


{% block title %}New Task{% endblock title %}


{% block content %}
<style>
    .input-group span {
        width: 6rem;
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    p .btn {
        width: 10rem;
    }
</style>
<h1>New Task</h1>
<br>
<form method="POST" action="{{ url_for('create_task') }}">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Subtitle</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Body</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
    <p>
        <input type="submit" value="Create" class="btn btn-dark">
    </p>
</form>
{% endblock content %}