{% extends 'base.html' %}


{% block title %}New Task{% endblock title %}


{% block content %}
<style>
    .input-group span {
        width: 6rem;
    }
    h3 {
        text-align: center;
    }
.input-group-text {
    font-size: 0.8rem;
}
.form-control {
    font-size: 0.8rem;
}
    p {
        text-align: center;
    }
    p .btn {
        width: 10rem;
        font-size: 0.8rem;
    }
</style>
<h3>New Task</h3>
<br>
<form method="POST" action="{{ url_for('create_task') }}">
    <div class="input-group mb-4">
        <span class="input-group-text rounded-0" id="inputGroup-sizing-default">Title</span>
        <input type="text" name="title" class="form-control rounded-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-4">
        <span class="input-group-text rounded-0" id="inputGroup-sizing-default">Subtitle</span>
        <input type="text" name="subtitle" class="form-control rounded-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-4">
        <span class="input-group-text rounded-0" id="inputGroup-sizing-default">Body</span>
        <input type="text" name="body" class="form-control rounded-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <p>
        <input type="submit" value="Create" class="btn btn-dark rounded-0">
    </p>
</form>
{% endblock content %}