{% extends 'base.html' %}


{% block title %}Update Task{% endblock title %}


{% block content %}
<style>
    .input-group span {
        width: 6rem;
    }
    h3 {
        text-align: center;
    }
.input-group-text {
    font-size: 0.8rem;
}
.form-control {
    font-size: 0.8rem;
}
    p {
        text-align: center;
    }
    p .btn {
        width: 10rem;
        font-size: 0.8rem;
    }
</style>
<h3>Update Task</h3>
<br>
<form method="POST" action="{{ url_for('update_task_by_id', task_id=task['id']) }}">
    <div class="input-group mb-4">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        <input type="text" name="title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ task['title'] }}">
    </div>
    <div class="input-group mb-4">
        <span class="input-group-text" id="inputGroup-sizing-default">Subtitle</span>
        <input type="text" name="subtitle" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ task['subtitle'] }}">
    </div>
    <div class="input-group mb-4">
        <span class="input-group-text" id="inputGroup-sizing-default">Body</span>
        <input type="text" name="body" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ task['body'] }}">
    </div>
    <p>
        <input type="submit" value="Update" class="btn btn-dark">
    </p>
</form>
{% endblock content %}